/* Estilo para el cuerpo del documento */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para el encabezado */
h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo para el contenedor del formulario */
#form {
    max-width: 400px;
    margin: 0 auto;
    }

/* Estilo para las etiquetas de los campos */
label {
    display: block;
    margin-bottom: 5px;
}

/* Estilo para los campos de entrada de texto y selección */
input[type="text"],
select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#idChip {
    width: 97%;
}

input[type="date"] {
    width: 97%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilo para el botón de enviar */
button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilo para el botón de volver a gestión */
button[type="button"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilo para los saltos de línea */
br {
    margin-bottom: 10px;
}
